.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 15px #a83535;
  background-color: #cdb491;
}

.comp photo {margin: 10px;
  max-width: 350px;}

  .mycar photo {margin: 10px;
    max-width: 350px;}

    .visstu photo {margin: 10px;
      max-width: 350px;}
  