/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body {
    background-color: #4cb3f7;
  } 
  h1,h2,h3 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
.minor-section {
    padding: 50px;
    margin-bottom: 10px;
    border: solid 30px #ae5a5a;
    background-color: #90e9eb;
  } 